<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="WEB_PAGE_FOLDER" value="WebPages"/>
      <add key="LINK_TEXT_READ_ME" value="Read me"/>
      <add key="LINK_TEXT_UI_DESIGN" value="Design Notes"/>
      <add key="LINK_TEXT_APP" value="Check out the App"/>
      <add key="APP_NAME" value="Coding Challenge (Image Manager)"/>
    </appSettings>
</configuration>